*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 204, 0);
    border-right: s solid #000;
}
.box{
    display: flex;
   

}

.menu_1{
  width: 50%;
  height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.menu_2{
width: 50%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
/* end */